{% extends 'common.html' %}
{% block preeti %}
<table align="center" border="2">
    <tr>
        <th>Car serial No</th>
         <th>Manufacture Date</th>
        <th>Car Model</th>
        <th>car variant</th>
        <th>chasis No</th>
        <th>Engine No</th>
        <th>Status</th>
        <th>shipping date</th>
        <th>track id</th>
    </tr>
{% if data and id%}
    <tr>
    <th>{{ data.car_serial_no }}</th>
    <th>{{ data.mdate }}</th>
    <th>{{ data.carmodel }}</th>
    <th>{{ data.variant }}</th>
    <th>{{ data.chasis_no }}</th>
    <th>{{ data.engine_no }}</th>
    <th>{{ data.status }}</th>
    <th>{{ id.shipping_date }}</th>
    <th>{{ id.track_id }}</th>
    </tr>
{% endif %}

</table>
{% endblock %}